<!-- This is the application main page -->
<div class="wrapper" ng-controller="MainPageCtrl">
    <div class="main-lesson-chooser">
        <a class="lesson" href="#!/lesson-chooser" ng-model="lesson">{{lesson}}</a>
    </div>
    <div class="character-inserter">
        <span class="text">Insert</span>
        <button class="character-button"><strong>á</strong></button>
        <button class="character-button"><strong>é</strong></button>
        <button class="character-button"><strong>í</strong></button>
        <button class="character-button"><strong>ú</strong></button>
        <button class="character-button"><strong>x&#803;</strong></button>
    </div>
    <div class="question-area">
        <span class="question" ng-model="question">{{question}}</span>
    </div>
    <div class="input-area">
        <input class="user-input" type="text">
        <button class="submit">Submit</button>
    </div>
</div>