<!-- This is the application main page -->
<div class="wrapper">
    <div class="main-lesson-chooser">
        <a class="lesson test" href="#!/lesson-chooser" ng-model="lesson">{{lesson}}</a>
    </div>
    <div class="character-inserter">
        <span class="text">Insert</span>
        <button class="character-button" ng-click="addCharacter('á')"><strong>á</strong></button>
        <button class="character-button" ng-click="addCharacter('é')"><strong>é</strong></button>
        <button class="character-button" ng-click="addCharacter('í')"><strong>í</strong></button>
        <button class="character-button" ng-click="addCharacter('ú')"><strong>ú</strong></button>
        <button class="character-button" ng-click="addCharacter('x̣')"><strong>x̣</strong></button>
    </div>
    <div class="question-area">
        <p class="question" ng-model="question">{{question}}</p>
    </div>
    <div class="input-area">
        <input class="user-input" type="text" ng-model="userAnswer" placeholder="Your answer here">
        <button class="submit">Submit</button>
    </div>
</div>